.calculBtn {
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid;
}

.numberBtn {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  border-bottom: 1px solid;
}
